---
export interface Props {
    name: string;
    value: string;
    leftMarginAuto?: boolean;
}

const { name, value, leftMarginAuto } = Astro.props;
---

<div class=`flex sm:(flex-row items-center gap-1) lt-sm:(flex-col ml-unset!)` style={{ "margin-left": leftMarginAuto ? "auto" : "unset" }}>
    <span>{name}:</span>
    <code>{value}</code>
</div>
